<app-navbar></app-navbar>

<div class="jumbotron text-center">
    <h1 class="display-4">Contact Us</h1>
    <p class="lead">
        This is a simple about us page
    </p>
</div>

<div class="container">
    <section>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla inventore delectus, quod, sequi voluptate eos
            quo nam aperiam perferendis fugit dolorem facilis autem in quidem nemo eveniet id aspernatur cum error earum
            sapiente? Quae non iste obcaecati, expedita aliquid exercitationem blanditiis assumenda ullam facilis
            accusamus. Officia illo, odit laudantium eaque earum ratione porro fuga non iste culpa, nam fugiat, magnam
            impedit quod mollitia maxime voluptate accusamus laborum deserunt consequatur fugit? Vitae, tempora aut
            obcaecati ad nihil pariatur ex quibusdam natus eligendi eius! Eligendi odio maxime exercitationem? Id aut
            aperiam assumenda excepturi ducimus. Enim laborum aliquid deleniti nesciunt consequatur. Eius quidem harum
            quaerat blanditiis quo iure pariatur aspernatur, dolore nemo placeat! Exercitationem quasi, fugiat corporis
            est officiis consequuntur molestiae ut pariatur, quaerat excepturi dicta dolorem nostrum at libero nemo,
            dolore voluptatibus provident itaque impedit inventore natus. At voluptate assumenda odio cumque nostrum.
            Eaque quod qui, deleniti quae ab quasi, error similique voluptates laudantium maiores laborum earum cumque
            natus ducimus dolores vero. Maiores magnam aliquid impedit dolore inventore iure illo nostrum fugit a
            ducimus? Laboriosam dignissimos officia itaque, odio veritatis labore! Deleniti odio officia repellendus a
            rerum minus cumque inventore, expedita commodi vero illo similique sapiente veniam libero eaque laudantium
            doloremque magni.
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla inventore delectus, quod, sequi voluptate eos
            quo nam aperiam perferendis fugit dolorem facilis autem in quidem nemo eveniet id aspernatur cum error earum
            sapiente? Quae non iste obcaecati, expedita aliquid exercitationem blanditiis assumenda ullam facilis
            accusamus. Officia illo, odit laudantium eaque earum ratione porro fuga non iste culpa, nam fugiat, magnam
            impedit quod mollitia maxime voluptate accusamus laborum deserunt consequatur fugit? Vitae, tempora aut
            obcaecati ad nihil pariatur ex quibusdam natus eligendi eius! Eligendi odio maxime exercitationem? Id aut
            aperiam assumenda excepturi ducimus. Enim laborum aliquid deleniti nesciunt consequatur. Eius quidem harum
            quaerat blanditiis quo iure pariatur aspernatur, dolore nemo placeat! Exercitationem quasi, fugiat corporis
            est officiis consequuntur molestiae ut pariatur, quaerat excepturi dicta dolorem nostrum at libero nemo,
            dolore voluptatibus provident itaque impedit inventore natus. At voluptate assumenda odio cumque nostrum.
            Eaque quod qui, deleniti quae ab quasi, error similique voluptates laudantium maiores laborum earum cumque
            natus ducimus dolores vero. Maiores magnam aliquid impedit dolore inventore iure illo nostrum fugit a
            ducimus? Laboriosam dignissimos officia itaque, odio veritatis labore! Deleniti odio officia repellendus a
            rerum minus cumque inventore, expedita commodi vero illo similique sapiente veniam libero eaque laudantium
            doloremque magni.
        </p>
    </section>
</div>